* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e9f3ec;
    color: #1f2d1f;
}

#container {
    width: 100%;
}

#cabecalho {
    background-color: #1f5e22;
    color: white;
    padding: 20px;
}

.cabecalho__titulo {
    text-align: center;
    margin-bottom: 10px;
}

.cabecalho__nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
}

.cabecalho__nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#conteudo-principal {
    display: flex;
    padding: 50px;
}

.post {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
    border-left: 8px solid #1f5e22;
    margin-right: 10px;
}

.post__blog h2 {
    margin: 15px 0;
}

.post__blog p {
    margin-bottom: 10px;
}

.data {
    font-size: 0.8rem;
    color: #4f6f4f;
}

figure {
    margin-bottom: 10px;
}

figcaption {
    font-size: 0.7rem;
    color: #555;
}

.comentarios {
    margin-top: 15px;
    padding: 15px;
    background-color: #f2f7f2;
}

.comentarios h3 {
    margin-bottom: 12px;
}

.comentarios input,
.comentarios textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 6px;
    border-radius: 10px;
    border: none;
}

.comentarios button {
    background-color: #1f5e22;
    color: white;
    border: none;
    padding: 8px 12px;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
}

.sidebar {
    background-color: #c6f8d0;
    padding: 20px;
    border-radius: 15px;
}

.sidebar h3 {
    margin-bottom: 25px;
    color: #0a0a0a;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin-bottom: 6px;
}

.sidebar a {
    text-decoration: none;
    color: #1f5e22;
    font-weight: bold;
    border-bottom: 3px solid #1f5e22;
    border-radius: 5px;
}

#rodape {
    background-color: #1f5e22;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.rodape__link {
    color: #c6f8d0;
    text-decoration: none;
}